# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/

# ==========================
# Environment Variables
# ==========================
.env
.env.*

# ==========================
# Database
# ==========================
instance/
*.db

# ==========================
# Logs
# ==========================
logs/
*.log

# ==========================
# IDE Files
# ==========================
.vscode/
.idea/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Python Build Files
# ==========================
build/
dist/
*.egg-info/

# ==========================
# Temporary Files
# ==========================
*.tmp
*.bak